.bot-tab {
    border-radius: 5px 5px 0 0;
    height: 40px;
    padding: 0;
    background-color: #402A2E;
    color: #fff;
    position: fixed;
    z-index: 9999;
    cursor: pointer;
    left: auto;
    right: 0;
    -moz-transform: rotate(-90.0deg);
    -ms-transform: rotate(-90.0deg);
    -o-transform: rotate(-90.0deg);
    -webkit-transform: rotate(-90.0deg);
    transform: rotate(-90.0deg);
    margin-right: -19px;
    border: 2px solid #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    -moz-transition: margin-right .2s ease-in;
    -o-transition: margin-right .2s ease-in;
    -webkit-transition: margin-right .2s ease-in;
    transition: margin-right .2s ease-in;
    top: 150px;
}

.bot-tab-hide {
    margin-right: -75px;
}

.bot-tab-icon {
    background: transparent url(../images/bot-icon.png) no-repeat center;
    float: left;
    height: 100%;
    width: 35px;
}

.bot-tab-title {
    float: right;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    padding: 10px 10px 10px 0;
}

.bot-chat {
    position: fixed;
    right: 0;
    left: auto;
    top: 0;
    bottom: 0;
    z-index: 9999;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    margin-right: -350px;
    -moz-transition: margin-right .3s ease-in;
    -o-transition: margin-right .3s ease-in;
    -webkit-transition: margin-right .3s ease-in;
    transition: margin-right .3s ease-in;
    background-color: white;
    height: 100%;
    width: 350px;
}


.bot-chat-show {
    margin-right: 0;
}

.bot-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 30px;
    z-index: 99999;
    background: transparent url(../images/close.png) no-repeat center;
    cursor: pointer;
}
